[Unit]
Description=Notif2MQTT Android Notification Receiver
After=network.target

[Service]
ExecStart=%h/.local/bin/notif2mqtt.py --daemon
Restart=always
RestartSec=10
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
